<div class="container">
  <div class="row">
    <div id="dashboards">
        <div class="col-5">
            <h3>Mapa de Calor</h3>
            <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="90%" height="480" src="https://charts.mongodb.com/charts-mongodb-banco-ii-projeto-ormqf/embed/charts?id=655bb019-a2d3-421d-85ed-21ffd0dfe7f3&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
        </div>
        <div class="col-5">
            <h3>Gráfico de Barras</h3>
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="90%" height="480" src="https://charts.mongodb.com/charts-mongodb-banco-ii-projeto-ormqf/embed/charts?id=655bb093-08b8-4a07-8837-f369b7d0fe23&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
        </div>
    </div>
</div>
</div>

<style>
        #dashboards{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
</style>